@font-face {
    font-family: saitamaar;
    src: local('Saitamaar'),
    url(/aaa/font/Saitamaar.eot) format('eot'),
    url(/aaa/font/Saitamaar.woff) format('woff'),
    url(/aaa/font/Saitamaar.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.aa {
    padding-top: 2px;
    font-family: saitamaar;
    white-space: pre;
    word-wrap: normal;
    font-size: 12pt;
    line-height: 13pt
}
